<div class="alert alert-primary" role="alert">
    <div class="row">
        <div class="col-sm-8"><%= message.body %></div>
        <div class="col-sm-4 text-right"><%= message.user.email %></div>
    </div>
</div>