
<h2 class="my-3">Messages</h2>
<div class="row">
    <div class="col-sm-9">
        <div class="card my-3">
            <div class="card-body">

                <%= render @messages %>
                    
            </div>
        </div>
    </div>

    <div class="col-sm-3 text-right">
        <div class="card my-3">
            <div class="card-body">
                <h5 class="text-center">Users Online</h5>
                <hr/>
                <button class="btn btn-success btn-block">David</button>
            </div>
        </div>
    </div>

</div>