
<h2>Messages</h2>
<div class="card my-3">
  <div class="card-body">
  
    <% @messages.each do |message| %>
       

        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-sm-8"><%= message.body %></div>
                <div class="col-sm-4 text-right"><%= message.user.email %></div>
            </div>
        </div>

    <% end %>
  </div>
</div>